.dev-card(
  ng-click="ctrl.resolve()"
  ng-mouseenter="ctrl.update_move_preview()"
  ng-mouseleave="ctrl.update_move_preview()"
)

  .card-event.nine
    .event-time 9:00PM
    | {{ ctrl.card[9].desc }}
  .card-event.ten
    .event-time 10:00PM
    | {{ ctrl.card[10].desc }}
  .card-event.eleven
    .event-time 11:00PM
    | {{ ctrl.card[11].desc }}
  .card-event.item   {{ ctrl.card.item.desc }}

