#container {
  display: flex;
  flex-wrap: wrap;
  width: 1070px;
  margin: auto;
  background: rgba(0,0,0,.5);
}

zombies-view {
  display: flex;
  flex-wrap: wrap;
  width: 820px;
  background: rgba(0,0,0,.5);
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(33, 128, 33, 1);
  font-size: 16px;
  text-transform: uppercase;
}

.horz-control {
  height: 35px;
  flex: 1 100%;
}

.vert-control {
  width: 35px;
}

#playingfield {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0;
}

.playingfield-row {
  display: flex;
}


/* Tile Styles */
.view-tile {
  transition: border-color .25s ease-in-out;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(33, 33, 33, 1);
  border: 10px solid black;
}

.view-tile.present {
  background: rgba(97, 65, 33, 1);
}

.view-tile.placeable {
  background: rgba(160, 160, 33, 1);
}

.view-tile.preview {
  cursor: pointer;
}

.view-tile:hover {
  border-color: black;
}

.view-tile .name {
  font-size: 18pt;
}

/* You Are Here Burst */
.actor {
  background: yellow;
  width: 25px;
  height: 25px;
  position: relative;
  text-align: center;
  border-radius: 25px;
}

/* Doorway Border Holes */
.exit {
  background-color: rgba(97, 65, 33, 1);
  position: absolute;
}

.exit-0 {
  height: 15px;  width: 33%;
  top: -10px;  left: 33%;
}

.exit-1 {
  height: 33%;  width: 15px;
  right: -10px;  top: 33%;
}

.exit-2 {
  height: 15px;  width: 33%;
  bottom: -10px;  left: 33%;
}

.exit-3 {
  height: 33%;  width: 15px;
  left: -10px;  top: 33%;
}

/* Mouse-over elements */
.hover-target {
  background-color: transparent;
  position: absolute;
}

.preview .hover-target {
  background-color: transparent;
}

.hover-target-0 {
  height: 50px;
  top: 0;  left: 50px; right: 50px;
}

.hover-target-1 {
  width: 50px;
  right: 0;  top: 50px; bottom: 50px;
}

.hover-target-2 {
  height: 50px;
  bottom: 0;  left: 50px; right: 50px;
}

.hover-target-3 {
  width: 50px;
  left: 0;  top: 50px; bottom: 50px;
}


/* Draw Pile Styling */
zombies-dev-draw {
  width: 750px;
  background: rgba(0,0,0,.5);
}

zombies-crib-sheet {
  width: 500px;
  background: rgba(0,0,0,.5);
}

zombies-tile-draw {
  width: 250px;
  position: relative;
  background: rgba(0,0,0,.5);
}

zombies-tile-draw .tile-card {
  width: 200px;
  height: 5px;
  background: rgba(128, 0, 64, 0.5);
  border: 1px solid gold;
  border-top: none;
}

zombies-tile-draw .tile-card.top-card {
  width: 200px;
  height: 200px;
  background: rgba(128, 0, 64, 0.5);
  border: 1px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

zombies-tile-draw .tile-card.top-card .deck-name {
  font-size: 18pt;
}

/* Utility Functions */
.rotate-0 { transform: rotate(0deg); }
.rotate-1 { transform: rotate(90deg); }
.rotate-2 { transform: rotate(180deg); }
.rotate-3 { transform: rotate(270deg); }

