#container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
  background: rgba(0,0,0,.5);
}

zombies-view {
  width: 750px;
  background: rgba(0,0,0,.5);
}

#playingfield {
  display: flex;
  flex-wrap: wrap;
}

.playingfield-row {
  display: flex;
}

.view-tile {
  transition: border-color .25s ease-in-out;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(0,0,0,.5);
  border: 1px solid transparent;
}

.view-tile.present {
  background: rgba(128, 64, 0, 0.5);
}

.view-tile.placeable {
  background: rgba(255, 255, 0, 0.5);
}

.view-tile:hover {
  border-color: black;
}

.view-tile .name {
  font-size: 18pt;
}

.exit-0 {
  height: 15px;
  width: 33%;
  background-color: rgba(0,0,0,.75);
  top: 0;
  left: 33%;
  position: absolute;
}

.exit-1 {
  height: 33%;
  width: 15px;
  background-color: rgba(0,0,0,.75);
  right: 0;
  top: 33%;
  position: absolute;
}

.exit-2 {
  height: 15px;
  width: 33%;
  background-color: rgba(0,0,0,.75);
  bottom: 0;
  left: 33%;
  position: absolute;
}

.exit-3 {
  height: 33%;
  width: 15px;
  background-color: rgba(0,0,0,.75);
  left: 0;
  top: 33%;
  position: absolute;
}

.hover-target {
  width: 0;
	height: 0;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent transparent transparent;
}

.hover-target-0 {
  top: 0;
  left: 0;
  border-width: 0 0 125px 125px;
  border-top: 125px solid rgba(0,0,0,.75);
}

.hover-target-1 {
  bottom: 0;
  right: 0;
  border-bottom: 125px solid transparent;
  border-top: 125px solid transparent;
  border-right: 125px solid rgba(0,0,0,.75);
}

.hover-target-2 {
  bottom: 0;
  right: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 125px solid rgba(0,0,0,.75);
}

.hover-target-3 {
  top: 0;
  left: 0;
  border-bottom: 125px solid transparent;
  border-top: 125px solid transparent;
  border-left: 125px solid rgba(0,0,0,.75);
}

zombies-dev-draw {
  width: 750px;
  background: rgba(0,0,0,.5);
}

zombies-crib-sheet {
  width: 500px;
  background: rgba(0,0,0,.5);
}

zombies-tile-draw {
  width: 250px;
  position: relative;
  background: rgba(0,0,0,.5);
}

zombies-tile-draw .tile-card {
  width: 200px;
  height: 5px;
  background: rgba(128, 0, 64, 0.5);
  border: 1px solid gold;
  border-top: none;
}

zombies-tile-draw .tile-card.top-card {
  width: 200px;
  height: 200px;
  background: rgba(128, 0, 64, 0.5);
  border: 1px solid gold;
}
