#cribsheet
  ul
    li Time: {{ ctrl.state.env.time }}
    li Heath: {{ ctrl.state.player.health }}
    li Attack: {{ ctrl.state.player.attack }}
    li Weapons:
      ul
        li(ng-repeat="ctrl.state.player.weapons")
    li Items:
      ul
        li(ng-repeat="ctrl.state.player.items")
    li Totem: {{ ctrl.state.player.totem }}
