doctype html
html(ng-app='zombies')
  head
    | <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>

  body(ng-controller="ZombiesController as ctrl")
    #container
      zombies-view
      zombies-crib-sheet
      button(ng-click="initalize_game()") Start Game

    | <% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script><% }); %>

    script.
      angular.module('game.config')
        .config(function (GameConfigProvider) {
          GameConfigProvider.set({});
        });

      angular.module('zombies.config')
        .config(function (ZombiesConfigProvider) {
          ZombiesConfigProvider.set({});
        });
