doctype html
html(ng-app='zombies')
  head
    | <% if (styles) { %><% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %><% } %>
    | <% if (style_include) { %><style><%= style_include %></style><% } %>

  body(ng-controller="ZombiesController as app")
    #container
      zombies-view
      zombies-dev-draw(ng-model="app.game.decks.dev")
      zombies-crib-sheet
      zombies-tile-draw(ng-model="app.game.decks.indoor")
      zombies-tile-draw(ng-model="app.game.decks.outdoor")
      button(ng-click="app.initalize_game()") Start Game

    | <% if (scripts) { %><% scripts.forEach( function ( file ) { %><script type="text/javascript" src="<%= file %>"></script><% }); %><% } %>
    | <% if (script_include) { %><script type="text/javascript"><%= script_include %></script><% } %>

    script.
      angular.module('game.config')
        .config(function (GameConfigProvider) {
          GameConfigProvider.set({});
        });

      angular.module('zombies.config')
        .config(function (ZombiesConfigProvider) {
          ZombiesConfigProvider.set({});
        });
